# YouTube Data API v3 Key
# Get your API key from: https://console.cloud.google.com/apis/credentials
NEXT_PUBLIC_YOUTUBE_API_KEY=AIzaSyATyRMAw2OADIJQTh0iGNYZ2iQt90kiA98

# YouTube Channel ID
NEXT_PUBLIC_YOUTUBE_CHANNEL_ID=UCtq3s2MFsZAn4cDF7v_6w_g
